/* CSS code */
.wrap{
  width: 80%;
  margin: auto;
}

.player,
.player1,
.player2,
.center {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 500px;
  height: 150px;
  margin: 10px auto;
  text-align: center;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  margin: auto;
  float: left;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.tablestyle {
  width: 60%;
  margin: 10px auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

tr {
  text-align: center;
}
th {
  padding: 10px;
}
table tbody tr:nth-child(odd){
  background-color: #eee
}
table thead {
  background-color: blue;
  color: white;
}
table thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid blue;
}